*{
font-family: "Raleway", sans-serif;
    }

    /* CONTENIDO DE ENCABEZADO O BANNER */
    .banner{
        background-image: linear-gradient(45deg, white 70%, #f3b558 30%);
        min-height: 80vh;
    }

    polygon {
        fill: yellow;
        stroke: orange;
        stroke-width: 2;
    }

    .btn-orden{
        background-color: #f0e68c;
        border-color: #f1e681;
        color: rgb(29, 20, 20);
    }

    .btn-orden:hover{
        transform: scale(1.1)
    }


    /*ESTILO DE input email */
    .input-email-style{
        width: 70%;
        height: 3rem;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1rem 2rem;
    }

    /*ESTILO DE filtros */
    .filter-container{
        border: none;
        width: 30%;
        height: 3rem;
        margin: 0 auto;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #ffe15da1;
    }

    /*  **********************************
        RESOLUCION DISPOSITIVOS NO DESKTOP
        **********************************
    */

    @media (max-width: 768px){
        .star-desktop{
            display: none;
        }

        .star-mobile{
            display: inline;
        }

    }
