*{
font-family: "Raleway", sans-serif;
    }

    /* CONTENIDO DE ENCABEZADO O BANNER */
    .banner{
        background-image: linear-gradient(45deg, white 70%, #F49D1A 30%);  
        min-height: 80vh;
    }
    
    
    polygon {
        fill: yellow;
        stroke: orange;
        stroke-width: 2;
    }
    
    .btn-orden{
        background-color: #f0e68c;
        border-color: #f1e681;
        color: rgb(29, 20, 20);
    }
    
    .btn-orden:hover{
        transform: scale(1.1)
    }
    
    /* Estrella para resuloción mobile */
    .star-mobile{
        display: none;
    }
    
    
    /*ESTILO DE input email */
    .input-email-style{
        width: 70%; 
        height: 3rem;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 1rem 2rem;
    }

    /*ESTILO DE filtros */
    .filter-container{
        width: 70%; 
        height: 3rem;
        margin: 0 auto;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #ffe15da1;
        
    }
    
    /*  **********************************
        RESOLUCION DISPOSITIVOS NO DESKTOP
        **********************************
    */
    
    @media (max-width: 768px){
        .star-desktop{
            display: none;
        }
    
        .star-mobile{
            display: inline;
        }
        
    }