
<!--PRESENTACIÓN-->
<div class="container-fluid ">
    <div class="banner text-center">
        <h1 class="pt-5 title">
            <svg width="40" height="40" >
                <polygon points="20,0 26,14 40,14 30,24 34,40 20,30 6,40 10,24 0,14 14,14" />    
            </svg>
            {{"Vea nuestro catalogo!!"| uppercase}}
            <svg width="40" height="40" >
                <polygon points="20,0 26,14 40,14 30,24 34,40 20,30 6,40 10,24 0,14 14,14" />    
            </svg>
        </h1>    
        <h3 class="mt-5">Lo mejor en productos de segunda mano.</h3>
        <p class="lead fw-normal fst-italic mt-4 pt-2 pb-1 ">Elija sus productos, cargelos y paguelos al instante!</p>
        <a class="btn btn-info p-2 btn-orden mt-5" href="/shop#products">
            <i class="fa-solid fa-bag-shopping fa-2x "></i>
            Haga su pedido!</a>
    </div>
</div>

<app-products-container id="products"></app-products-container>


<div class="container">
    <h3 class="title text-center mt-5">Queres vender productos propios!?</h3>
    <h4 class="text-center mt-5">Dejanos tu email y nos pondremos en cotacto!</h4>
    <form action="" class="text-center mt-3">
        <input type="text" placeholder="ingresá tu correo">
    </form>
</div>