  <app-nav></app-nav>
  <form class="wrapper" method='POST'>
    <div class="container-table">
      <br>
      <br>
      <h5>Ingrese su Email</h5>
       <input type="text" id="correo" name="correo" required
           minlength="8" maxlength="20" size="40">
      <br>
    </div>
    <div class="container-table">
      <h5>Ingrese su clave</h5>
       <input type="password" id="clave" name="clave" required
           minlength="8" maxlength="20" size="40">
      <br>
    </div>
    <div class="input-field mt-5">
    <button type="submit" class="submit">Enviar</button>

    <a routerLink="/">Ir a pagina principal</a>
    </div>
 <app-footer></app-footer>