<div class="">
  <div class="modal-header">
    <h5 class="modal-title">Transacción realizada con éxito</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Crosss click')"
    ></button>
  </div>
  <div class="modal-body">
    <h3>Detalles de la compra</h3>
    <hr />
    <div *ngFor="let item of items" class="detalles">
      <span><b>Detalle: </b>{{ item.name }}</span>
      <span> <b> Cantidad = 1</b></span>
      <span><b>Precio: </b>${{ item.unit_amount.value }}</span>

    </div>
    <hr />
    <h3><b>Total:</b>{{ price }}</h3>
  </div>
  <div class="modal-footer">
    <p>¡Gracias por confiar en <b>feriaOnline!</b></p>
  </div>
</div>
