<nav class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 right">
        <div class="input-box">
          <h4>Registrate!</h4>
          <div class="input-field">
            <input type="text" class="input" id="email" placeholder="Nombre">
          </div>
          <div class="input-field">
            <input type="password" class="input" id="password" placeholder="Apellido">
          </div>
          <div class="input-field">
            <input type="text" class="input" id="email" placeholder="Email">
          </div>
          <div class="input-field">
            <input type="password" class="input" id="password" placeholder="Contraseña">
          </div>
          <div class="input-field">
            <button type="submit" class="submit">Iniciar Sesión</button>
          </div>
          <div class="signup">
            <a routerLink="">Ir a pagina principal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>