<app-nav></app-nav>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

</head>

<body>

  <div class="container">
    <h1>Productos</h1>
<div class="container-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" data-productos="imagen">imagen</th>
          <th scope="col" data-productos="codigo">Codigo</th>
          <th scope="col" data-productos="nombre">Nombre</th>
          <th scope="col" data-productos="precio">Precio</th>
          <th scope="col" data-productos="accion">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-productos="imagen"><img src="https://img.freepik.com/psd-gratis/vista-frontal-camiseta-blanca-aislada_125540-1194.jpg?size=626&ext=jpg&ga=GA1.1.1301818398.1683144537&semt=ais" alt=""></td>
          <td data-productos="codigo">000541</td>
          <td data-productos="nombre">Remera Negra</td>
          <td data-productos="precio">500$</td>
          <td data-productos="accion"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td data-productos="imagen"><img src="https://img.freepik.com/psd-gratis/vista-frontal-camiseta-blanca-aislada_125540-1194.jpg?size=626&ext=jpg&ga=GA1.1.1301818398.1683144537&semt=ais" alt=""></td>
          <td data-productos="codigo">00452</td>
          <td data-productos="nombre">Remera Negra O</td>
          <td data-productos="precio">600$</td>
          <td data-productos="accion"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td data-productos="imagen"><img src="https://img.freepik.com/psd-gratis/vista-frontal-camiseta-blanca-aislada_125540-1194.jpg?size=626&ext=jpg&ga=GA1.1.1301818398.1683144537&semt=ais" alt=""></td>
          <td data-productos="codigo">00452</td>
          <td data-productos="nombre">Remera Negra O</td>
          <td data-productos="precio">600$</td>
          <td data-productos="accion"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="container-monto">
      <div class="container-2">
        <table class="table">
          <thead>
            <tr>
              <th data-monto="monto" scope="col">Monto</th>
              <th data-monto="iva" scope="col">Iva</th>
              <th data-monts="descuento" scope="col">Descuento</th>
              <th data-monto="total" scope="col">Monto Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-monto="monto">1100$</td>
              <td data-monto="iva">21%</td>
              <td data-monto="precio">200$</td>
              <td data-monto="total">1131$</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="container-2 comp">
          <h2>Comprar Productos</h2>
        <button class="bt-comprar">Comprar</button>
        </div>
      </div>
  </div>


</body>
<app-footer></app-footer>
