<app-nav></app-nav>

<body>

  <div class="container">
    <h1>Productos</h1>
<div class="container-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" data-productos="imagen"><i class="fa-solid fa-image"></i></th>
          <th scope="col" data-productos="nombre">Nombre</th>
          <th scope="col" data-productos="precio">Precio</th>
          <th scope="col" data-productos="precio">IVA 21%</th>
          <th scope="col" data-productos="accion">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td data-productos="imagen"><img src={{product.image}} alt=""></td>
          <td data-productos="nombre">{{product.name}}</td>
          <td data-productos="precio">$ {{product.price}}</td>
          <td data-monto="iva">$ {{product.price * 0.21}}</td>
          <td data-productos="accion" style="color: red;"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="container-monto">
      <div class="container-2">
        <table class="table">
          <thead>
            <tr>
              <th data-monto="monto" scope="col">Precio Total</th>
              <th data-monto="iva" scope="col">IVA</th>
              <th data-monto="total" scope="col">Total con IVA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-monto="monto">$ {{monto}}</td>
              <td data-monto="iva">$ {{iva}}</td>
              <td data-monto="iva">$ {{monto+iva}}</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="container-2 comp">



        <!-- <button class="bt-comprar" (click)="comprarProducts()">Comprar</button> -->

        </div>
      </div>
  </div>


</body>
<app-footer></app-footer>

