<app-nav></app-nav>

  <div class= "abs-center details-main-container d-flex flex-column justify-content-center align-items-center ">
    <div class="container shadow-lg detail-conteiner d-flex justify-content-around align-items-center">

        <div class="img-card-detail">
          <img [src]="product?.img" alt="{{ product?.name }}" class="img-detail pt-4">

        </div>
        <div class="d-flex justify-content-around flex-column align-items-start detail-text">
          <div class=" pb-4">
            <h5 class="card-title text-center mb-4">{{ product?.name }}</h5>
            <p class="card-text ">{{ product?.description }}</p>
            <p class="card-text ">$ {{ product?.price }}</p>
            <p class="card-text text-center"><small class="text-body-secondary">Actualizado hace 3 minutos</small></p>
            <button  class="btn btn-outline-secondary" routerLink="">  Agregar </button>
          </div>
        </div>

    </div>
  </div>

<app-footer></app-footer>

