.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}
.btn-outline-secondary{
    background-color: #F49D1A;
    color: #fff;
    border: none;
    margin: 3px;
}

.btn-outline-secondary:active{
    background-color: #F49D1A;
}

.btn-outline-secondary:hover{
    transform: scale(1.1);
}
.img-detail{
    width: 100%;
    padding: 0 20px 30px 10px;
}
.img-card-detail{
    width: 30%;
}
.detail-main-container{
  min-height: 70vh;
  padding: 50px 30px 30px 30px;
}
.detail-container{
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
}
.detail-text{
  width: 70%;
}


@media screen and (max-width: 990px) {

    .btn {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
    }
}
@media (max-width: 500px){
    .detail-container{
        flex-direction: column;
    }
    .img-card-detail{
        width: 100%;
    }
    .detail-main-container{
        margin: 60px;
        min-height: 50vh;
    }
    .detail-text{
      padding-bottom: 30px;
  }
}
.testionios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonios_header {
  margin: 50px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonios_header h1 {
  font-size: 2.9rem;
  font-weight: 500;
  background-color: #202020;
  color: white;
  padding: 10px 20px;
}
.testimonios_header span {
  font-size: 2.2rem;
  color: #252525;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.testimonios_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contenedor-tb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.input-group-btn {
  display: flex;
  justify-content: flex-end;
  width: 68%;
}
.input-btn-modal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonios_caja {
  width: 500px;
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  margin-top: 30px;
}
.perfil_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px;
}
.perfil_img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
.perfil {
  display: flex;
  align-items: center;
}
.name_user {
  display: flex;
  flex-direction: column;
}
.name_user strong {
  color: #3d3d3d;
  font-size: 1.3rem;
}
.name_user span {
  color: #979797;
  font-size: 1.1rem;
}
.estrellas {
  color: #f9d71c;
}
.fa-gray {
  color: grey;
}
.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comentarios_clientes p {
  color: #4b4b4b;
}
.btn-color {
  background: linear-gradient(45deg, #af1e67, #f0a636, #f49d1a 100%);
}
.btn-color-transparent {
  background: #af1e67;
}
.btn-color-transparent:hover {
  background: #d92d83;
}
/* .btn {
  display: inline-block;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  padding: 0.37rem 0.75rem;
  cursor: pointer;
} */

.btn-notify {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: #fff;
}
/* .btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.4;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

@media only screen and  (max-width: 1024px) {
  .carousel-item img{
    height:18rem;
    font-size: 5rem;
  }

  h2
  ,h1
  ,span {
    font-size: 2,5rem!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;

  }
}

@media only screen and  (max-width: 480px) {
  .carousel-item img{
    height:18rem;
    font-size: 5rem;
  }

  h2
  ,h1
  ,span {
    font-size: 2,5rem!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;

  }
}

@media screen and (max-width: 1024px) {
  .input-group-btn {
    justify-content: center;
  }
}
input[type="radio"] {
  display: none;
}
.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
  font-size: 25px;
}
label{ color:grey;}
input[type = "radio"]{ display:none;}
label:hover{color:orange;}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
