.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}
.btn-outline-secondary{
    background-color: #F49D1A;
    color: #fff;
    border: none;
}
  
.btn-outline-secondary:active{
    background-color: #F49D1A;
}
  
.btn-outline-secondary:hover{
    transform: scale(1.1);
}
.img-detail{
    width: 100%;
    padding: 0 20px 30px 10px;
}
.img-card-detail{
    width: 30%;
}
.detail-main-container{
  min-height: 70vh;
  padding: 50px 30px 30px 30px;
}
.detail-container{
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
}
.detail-text{
  width: 70%;
}

  
@media screen and (max-width: 990px) {
  
    .btn {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
    }
}
@media (max-width: 500px){
    .detail-container{
        flex-direction: column;
    }
    .img-card-detail{
        width: 100%;
    }
    .detail-main-container{
        margin: 60px;
        min-height: 50vh;
    }
    .detail-text{
      padding-bottom: 30px;
  }
}