<app-nav></app-nav>

<main>
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="../../../../assets/img/camperon niño.jpg" class="img-fluid" alt="Imagen de héroe">
      </div>
      <div class="col-md-6">
        <h1>Bievenido a feria online</h1>
        <p>Encuentra prendas únicas y apoya la moda sostenible. Gran variedad de ropa de diferentes marcas, estilos y tallas. Promociones especiales durante toda la feria, incluyendo descuentos y envío gratuito.
          Regístrate ahora y recibe un cupón de descuento en tu primera compra. ¡Renueva tu armario de manera sostenible!.</p>
        <a routerLink="/registro" class="btn btn-primary btn-lg">Regístrate</a>
      </div>
    </div>
  </div>
</section>

<section class="benefits-section">
  <div class="container">
    <h2 class="text-center mb-5">Beneficios de nuestra página</h2>
    <div class="row">
      <div class="col-md-4 mb-4" id="envio">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="fas fa-shipping-fast fa-3x mb-3"></i>
            <h4 class="card-title">Envío gratuito</h4>
            <p class="card-text">Ofrecemos envío gratuito en todos nuestros productos para que puedas ahorrar aún más.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" id="soporte">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="fas fa-headphones-alt fa-3x mb-3"></i>
            <h4 class="card-title">Soporte 24/7</h4>
            <p class="card-text">Nuestro equipo de soporte está disponible las 24 horas del día, los 7 días de la semana para ayudarte con cualquier problema.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 " id="garantia">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="fas fa-money-bill-alt fa-3x mb-3"></i>
            <h4 class="card-title">Garantía de devolución de dinero</h4>
            <p class="card-text">Ofrecemos una garantía de devolución de dinero de 30 días para que puedas comprar con confianza.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">

    <div class="section-title">
      <h2>Preguntas Frecuentes</h2>
    </div>

    <ul class="faq-list">

      <li>
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">¿Tienen descuentos o promociones especiales para clientes frecuentes? <i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Sí, ofrecemos descuentos y promociones especiales para clientes frecuentes. Mantente al tanto de nuestras redes sociales y suscríbete a nuestro boletín para obtener las últimas promociones y descuentos.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">¿Cómo puedo saber si la prenda que quiero comprar me quedará bien? <i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            En nuestra tienda en línea, puedes encontrar una guía de tallas para ayudarte a encontrar el tamaño adecuado para ti. También puedes contactarnos si tienes alguna pregunta sobre el tamaño o la forma de la prenda.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">¿Puedo devolver o cambiar una prenda? <i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Sí, ofrecemos devoluciones y cambios en la mayoría de los productos. Por favor, revisa nuestras políticas de devolución y cambio para obtener más información.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">¿Qué medidas toman para proteger la privacidad y la seguridad de mis datos personales?<i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Nos tomamos muy en serio la privacidad y seguridad de los datos personales de nuestros clientes. Utilizamos medidas de seguridad de última generación para proteger tu información y nunca compartimos tus datos con terceros sin tu consentimiento. Consulta nuestra política de privacidad para obtener más información.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">¿Cómo puedo hacer un seguimiento de mi pedido? <i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Una vez que realizas un pedido, te enviaremos un correo electrónico de confirmación con los detalles de tu pedido y un número de seguimiento. Puedes utilizar este número de seguimiento para hacer un seguimiento de tu pedido en línea.

          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">¿Cómo puedo contactar con ustedes si tengo alguna pregunta o inquietud? <i id="arrow-icon" class="fas fa-arrow-down"></i></a>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            LPuedes contactar con nosotros en cualquier momento utilizando nuestro formulario de contacto en línea o enviándonos un correo electrónico a la dirección proporcionada en nuestro sitio web.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section>

</main>


<app-footer> </app-footer>
