.btn.btn-primary.btn-lg {
  color: black;
  background-color: #AF1E67;
  border-radius: 14vh;
  border-style: groove;
  border-color: #AF1E67;
  transition: transform 2ms ease-in-out;
  }
  .btn.btn-primary.btn-lg:hover {
    transform: scale(1.1);
  }
  .btn.btn-primary.btn-lg:active {
    transform: scale(1.1);
  }

.btn.btn-primary.btn-lg:visited {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #fd680e;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}
.hero-section {
  margin-top: 80px;
}

.img-fluid {
  max-width: 100%;
  height: 70vh;
}

.benefits-section {
  margin-top: 159px;
}

.faq {
  padding-bottom: 60px;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #fd680e;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #fd680e;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.container h2 {
   font-size: 50px;
   margin-top: 14vh;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;
}

#arrow-icon {
  font-size: 24px;
  cursor: pointer;
  position:absolute;
  right: 50px;
}

#garantia
#envio
#soporte {
  background-color: #fff;
  border: 1px dotted  black;
  border-radius: 50%;
}

.card-body.text-center:hover {
    transform: scale(1.1);

}
.card-body.text-center {
    transition: transform 0.2s ease;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    align-items: center;;

}

#garantia
#envio
#soporte:hover {
  transform: scale(1.1);
}
