
.nav-link:hover {
  color:#B01E68;
  cursor: pointer;
}
.nav-link {
  color:gray;
}
.hidden-nav {
  display: none;
}
.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: #B01E68;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px ;
}

.btn-outline-secondary{
  background-color: #F49D1A;
  color: #fff;
  border: none;
}

.btn-outline-secondary:active{
  background-color: #F49D1A;
}

.btn-outline-secondary:hover{
  transform: scale(1.1);
  color: #fff;
}

@media screen and (max-width: 990px) {
  .fa-shopping-cart {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
}

.btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #AF1E67;
  border-radius: 14vh;
  border-style: groove;
  border-color: #AF1E67;
  transition: transform 2ms ease-in-out;
  cursor: pointer;
  }
  .btn.btn-primary.btn-lg:hover {
    transform: scale(1.1);
  }
  .btn.btn-primary.btn-lg:active {
    transform: scale(1.1);
  }

.btn.btn-primary.btn-lg:visited {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #fd680e;
}

a:hover {
  color: #ff8f4c;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}
.hero-section {
  margin-top: 80px;
}
.title-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
}
.typewriter {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  border-right: 0.15em solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #333; }
}

@media only screen and (max-width: 1224px) {
  .typewriter {
    font-size: 2rem;
  }
}

.slider-section{
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.h1-ofertas{
  text-align: center;
  font-size: 50px;
}
.container-slider{
  width: 100%; /* ancho definido */
  position: relative; /* posición relativa */

}
.carousel{
  margin-top:60px;
  
 
}
.carousel-item img {
  width: 100%; /* ocupar todo el ancho de la imagen */
  height: 600px; /* altura automática proporcional */
}

.img-fluid {
  max-width: 100%;
  height: 70vh;
}

.benefits-section {
  margin-top: 159px;
}

.faq {
  padding-bottom: 60px;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #fd680e;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #fd680e;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.container h2 {
   font-size: 50px;
   margin-top: 14vh;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;
}

#arrow-icon {
  font-size: 24px;
  cursor: pointer;
  position:absolute;
  right: 50px;
}

#garantia
#envio
#soporte {
  background-color: #fff;
  border: 1px dotted  black;
  border-radius: 50%;
}

.card-body.text-center:hover {
    transform: scale(1.1);

}
.card-body.text-center {
    transition: transform 0.2s ease;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    align-items: center;;

}

#garantia
#envio
#soporte:hover {
  transform: scale(1.1);
}
.testionios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonios_header{
margin:50px 0;
padding:10px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.testimonios_header h1{
  font-size: 2.9rem;
  font-weight: 500;
  background-color: #202020;
  color: white;
  padding: 10px 20px;
}
.testimonios_header span{
  font-size: 2.2rem;
  color:#252525;
  margin-bottom: 25px;
 text-transform: uppercase;
}

.testimonios_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contenedor-tb{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.input-group-btn{
  display: flex;
  justify-content: flex-end;
  width: 68%;
}
.input-btn-modal{
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonios_caja{
  width: 500px;
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
  background-color: white;
  padding:20px;
  margin: 15px;
  cursor:pointer;
  margin-top: 30px;
}
.perfil_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px;
}
.perfil_img img{
  width: 100%;
  height: 100%;
  object-fit: center;
}
.perfil{
  display: flex;
  align-items: center;
}
.name_user{
  display: flex;
  flex-direction: column;
}
.name_user strong{
  color: #3d3d3d;
  font-size: 1.3rem;
}
.name_user span{
  color: #979797;
  font-size: 1.1rem;
}
.reseñas{
  color: #f9d71c;
}
.fa-gray{
  color: grey;
}
.caja-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comentarios_clientes p{
  color:#4b4b4b;
}
.btn-color{
  background: linear-gradient(45deg,#AF1E67,#f0a636, #F49D1A 100%);
}
.btn-color-transparent{
  background:#AF1E67;
}
.btn-color-transparent:hover{
  background:#d92d83;
}
.btn{
  display: inline-block;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  padding: 0.37rem 0.75rem;
  cursor: pointer;
}

.btn-notify{
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
    font-size: .9rem;
    padding: .6rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: .03rem;
    color: #FFF;
}
.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0 solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 50rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width:1024px) {
  .input-group-btn{
    justify-content: center;
  }

}
input[type = "radio"]{ display:none;}
.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
 font-size: 25px;
}
label{ color:grey;}
input[type = "radio"]{ display:none;}
label:hover{color:orange;}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}