<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
      Usuario
      <small>Editar</small>
      </h1>
  </section>
  <!-- Main content -->
  <section class="content">
      <!-- Default box -->
      <div class="box box-solid">
          <div class="box-body">
              <div class="row">
                  <div class="col-md-12">

                          <div>
                              <label for="name">Nombre:</label>
                              <input type="text" class="form-control" id="name" name="name" value="">

                          </div>
                          <div>
                            <label for="name">Apellido:</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value="">

                        </div>
                          <div class="form-group">
                              <label for="phone">Telefono:</label>
                              <input type="text" class="form-control" id="phone" name="phone" value="">
                          </div>
                          <div class="form-group">
                            <label for="address">Direccion:</label>
                            <input type="text" class="form-control" id="address" name="address" value="">
                        </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i> Guardar</button>
                               <a  class="btn btn-danger btn-flat" href=""><i class="fa fa-close"></i> Cancelar</a>
                          </div>
                   
                  </div>
              </div>
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
