<form class="wrapper" method='POST'>
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 right">
        <div class="input-box">
          <p>Iniciar Sesión</p>
          <div class="input-field">
            <span class="details">Correo electrónico</span>
            <input class='inp' type="email" [(ngModel)]="email" name="email" placeholder="Ingrese su correo electrónico" required="required"/>
          </div>
          <div class="input-field">
            <span class="details">Contraseña</span>
            <input class='inp' type="password" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña" required="required"/>
              <!-- <button (click)="loginWithGoogle('google')"><i class="fa-brands fa-google"></i> Iniciar sesión con Google</button> -->
          </div>
          <div class="button-box">
            <input class='submit' type="submit" value="Ingresar" (click)="login()" />
          </div>
          <div class="ppal">
            <a routerLink="/register">Registrarse</a>
          </div>
          <div class="ppal">
            <a routerLink="/">Ir a pagina principal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
