<form class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 right">
        <div class="input-box">
          <p>Iniciar Sesión</p>
          <div class="input-field">
            <button (click)="loginWithGoogle('google')"><i class="fa-brands fa-google"></i> Iniciar sesión con Google</button>
          </div>

          <div class="ppal">
            <a routerLink="/">Ir a pagina principal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
