<div class="container-fluid col-md-3 offset-md-4 d-flex justify-content-center login">
  <form class= "mx-auto ">
    <h2 class="text-center mb-5">Iniciar Sesión</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input type="email" class="form-control form-control-lg form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label><i class="bi bi-lock"></i>
      <input type="password" class="form-control form-control-lg form-control-sm" id="exampleInputPassword1" placeholder="">
      
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-login ">Iniciar Sesión</button>
      <p class="login-register-text">¿Eres nuevo en este sitio? <a class="login-register-link" routerLink="" >Regístrate</a></p>
    </div>
    
  </form>
  </div>
