<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top border-bottom shadow-sm ">
  <div class="container-fluid">
    <p class="navbar-brand my-0 mr-md-auto logo"> <span class="res"> F</span>eria<span class="res">On</span>line</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center justify-content-md-end " id="navbarNav">
      <ul class="navbar-nav  mb-2 mx-auto mb-md-0 text-uppercase text-center">
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="">Contact</a>
        </li>
      </ul>
      <div class=" d-flex align-items-center justify-content-center">
        <a class="position-relative ">
          <i class="fa fa-shopping-cart me-5 fa-2x text-dark"></i>
          <div class="cart-no">2</div>
        </a>
        <a class="btn btn-outline-secondary me-2">Login</a>
        <a class="btn btn-outline-secondary">Sign up</a>
      </div>
    </div>
  </div>
</nav>