<!-- footer -->
<div class="container container-fluid container-footer overflow-hidden">

     <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-3">
          <div class="col m-2">
               <h5 class="fw-bold">Navegación</h5>
               <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                         <a class="nav-link p-0 text-muted" routerLink="/landing">Inicio</a>
                    </li>
                    <li class="nav-item mb-2">
                         <a class="nav-link p-0 text-muted" routerLink="/products">Productos</a>
                    </li>
                    <li class="nav-item mb-2">
                         <a class="nav-link p-0 text-muted" routerLink="#">Contacto</a>
                    </li>
                    <li class="nav-item mb-2">
                         <a class="nav-link p-0 text-muted" routerLink="#">Sobre Nosotros</a>
                    </li>
               </ul>
          </div>
          <div class="col m-2">
               <h5 class="fw-bold">Contacto</h5>
               <ul class="nav flex-column">

                    <li class="nav-item mb-2">
                         <a href="#" class="nav-link p-0 text-muted"><img class="items gx-5"
                                   src="../../../../assets/img/envelope-at.svg" alt="">tiendaonline@mail.com</a>
                    </li>

                    <li class="nav-item mb-2">
                         <a href="#" class="nav-link p-0 text-muted"><img class="items gx-5"
                                   src="../../../../assets/img/whatsapp.svg" alt="">+54 223 6058672</a>
                    </li>
               </ul>
          </div>
          <div class="col m-2">
               <h5 class="fw-bold">Nuestras redes</h5>
               <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                         <a class="text-muted" class="nav-link p-0 text-muted" routerLink="/shop">
                              <img src="../../../../assets/img/facebook.svg" alt="">
                         </a>
                    </li>
                    <li class="nav-item mb-2">
                         <a class="text-muted" class="nav-link p-0 text-muted" routerLink="/shop">
                              <img src="../../../../assets/img/instagram.svg" alt="">
                         </a>

                    </li>
               </ul>
          </div>
          <div class="col m-2">
               <h5 class="fw-bold">Newsletter</h5>
               <ul class="nav flex-column">
                    <div class="input-group">
                         <div class="input-group-text" id="btnGroupAddon2">
                           <img src="../../../../assets/img/send.svg" alt="">
                         </div>
                         <input type="email" class="form-control" placeholder="Suscribite" aria-label="Input group example" aria-describedby="btnGroupAddon2" [(ngModel)]="correoElectronico" (input)="validarCorreoElectronico()">
                         <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="validarCorreoElectronico()">Enviar</button>
                       </div>
                       <p *ngIf="esCorreoValido" class="text-success">El correo electrónico es válido.</p>
                       <p *ngIf="!esCorreoValido && correoElectronico !== ''" class="text-danger">El correo electrónico no es válido.</p>
                       
               </ul>
          </div>
     </footer>
     <div class="container-fluid">
          <p class="text-end">Creado por RocketTeam. <img src="../../../../assets/img/undraw_rocket.svg" alt=""> Todos
               los derechos reservados &copy; 2023</p>
     </div>
</div>
